{
    "env": {
        "development": {
            "presets": [
                [
                    "@babel/preset-env"
                ]
            ],
            "plugins": [
                "@babel/plugin-proposal-export-default-from",
                "@babel/syntax-object-rest-spread"
            ]
        },
        "test": {},
        "production": {
            "presets": [
                [
                    "@babel/preset-env"
                ]
            ],
            "plugins": [
                "@babel/plugin-proposal-export-default-from",
                "@babel/syntax-object-rest-spread"
            ]
        }
    }
}
