{
    "env": {
        "development": {

        },
        "test": {

        },
        "production": {
            "plugins": [
                "@babel/syntax-object-rest-spread"
            ]
        }
    }
}
